/********** SOCIAL MEDIA **********/

#socials {
    padding-bottom: 40px; /* Because of padding on last row in socialMediaList */
}

#socialMediaList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.socialMediaListItem {
    margin: 0px 10px 40px 10px;
}

.socialMediaListItem a {
    transition: 0.5s ease;
}

.socialMediaListItem a:hover {
    filter: invert(55%) sepia(10%) saturate(1171%) hue-rotate(191deg) brightness(99%) contrast(99%);
}

.socialMediaListItem > a > img {
    width: 80px;
    height: 80px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.socialMediaListItem > a {
    text-decoration: none;
    color: transparent;
    font-size: 13px;
    font-weight: 800;
}

/********** SOCIAL MEDIA **********/

/*********** FILM DIARY ***********/

#filmDiary {
    background-color: #353f69;
    border: 1px white solid;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filmDiaryEntry > a {
    text-decoration: none;
    color: white;
}

.filmDiaryEntry > a {
    transition: 0.5s ease;
    /* CSS grid */
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas:
        "poster diaryEntry";
}

.filmDiaryEntry > a:hover {
    background-color: #808CBE;
}

.filmDiaryEntry> a:hover .filmPoster {
    border: 1px #353f69 solid;
}

.filmDiaryEntryData {
    grid-area: diaryEntry;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 5px;
    padding: 0;
}

#filmDiary {
    margin-bottom: 30px;
}

.filmPoster {
    grid-area: poster;
}

.filmPoster {
    border-radius: 3px;
    border: 1px #808CBE solid;
    margin: 10px 10px 10px 10px;
    transition: 0.5s ease;
}

.filmTitle {
    font-size: 26px;
    font-weight: bold;
    line-height: 21.6px;
}

.filmYear {
    font-size: 18px;
    font-weight: 100;
}

.watchedDate {
    font-size: 13px;
}

.filmRating {
    color: white;
}

.filmHR {
    margin: 0px 10px 0px 10px;
}

.errorText {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 16px;
}

/*********** FILM DIARY ***********/