#socialMediaList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.socialMediaListItem {
    margin: 0px 10px 40px 10px;
}

.socialMediaListItem:first-child {
    margin: 0px 10px 40px 0px;
}

.socialMediaListItem:last-child {
    margin: 0px 10px 40px 10px;
}
.socialMediaListItem a {
    transition: 0.5s ease;
}

.socialMediaListItem a:hover {
    filter: invert(55%) sepia(10%) saturate(1171%) hue-rotate(191deg) brightness(99%) contrast(99%);
}

.socialMediaListItem > a > img {
    width: 80px;
    height: 80px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.socialMediaListItem > a {
    text-decoration: none;
    color: transparent;
    font-size: 13px;
    font-weight: 800;
}